#!/usr/bin/env bash

###### NAVIGATION #####

alias home='cd ~'

alias up='cd ..'

alias g-n='cd /workspaces/gclient/src'
alias el='cd /workspaces/gclient/src/electron'
alias enode='cd /workspaces/gclient/src/third_party/electron_node'
alias ev8='cd /workspaces/gclient/src/v8'

##### TERMINAL COMMANDS ######

alias _='sudo'
alias cls='clear'
alias a="code -a"
alias g='git'

alias c='tr -d '\n' | pbcopy'

##### PROCESSES #####

alias serve='npx http-server -o'

##### MISC ######

alias localip='ipconfig getifaddr en0'
alias gist-dl='node ~/.dotfiles/scripts/gist-download.js'
